.proftitle{text-transform: uppercase;}

.tlineholder{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:30%;}
.profholder{float:left;
width:15%;}

.tlineholderSingle{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:10%;}
.profholderSingle{float:left;
width:50%;}


.tlineholderDouble{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:20%;}
.profholderDouble{float:left;
width:40%;}

.tlineholderTriple{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:20%;}
.profholderTriple{float:left;
width:30%;}

.tlineholderQuint{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:40%;}
.profholderQuint{float:left;
width:20%;}


.tlineholderSext{margin-left:2%;
background-color: orange;
clear:both;
margin-top: 1%;
	float:left;
width:45%;}
.profholderSext{float:left;
width:16%;}


.profpic{width:100%;}